<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.egov.pungdong.domain.postcomment.mapper.PostCommentMapper">

	<select id="selectPostCommentList" resultType="kr.go.egov.pungdong.domain.postcomment.vo.PostCommentVO">
		SELECT
			article_comment_id, article_id, parent_comment_id, title, content, status_cd, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM post_comment
		WHERE del_yn = 'N'
		ORDER BY article_comment_id DESC
	</select>

	<select id="selectPostCommentListByArticleId" parameterType="long" resultType="kr.go.egov.pungdong.domain.postcomment.vo.PostCommentVO">
		SELECT
			article_comment_id, article_id, parent_comment_id, title, content, status_cd, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM post_comment
		WHERE article_id = #{articleId}
		AND del_yn = 'N'
		ORDER BY COALESCE(parent_comment_id, article_comment_id), article_comment_id ASC
	</select>

	<select id="selectPostComment" resultType="kr.go.egov.pungdong.domain.postcomment.vo.PostCommentVO">
		SELECT
			article_comment_id, article_id, parent_comment_id, title, content, status_cd, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM post_comment
		WHERE article_comment_id = #{articleCommentId}
			AND del_yn = 'N'
	</select>

	<insert id="insertPostComment" useGeneratedKeys="true" keyProperty="articleCommentId">
		INSERT INTO post_comment (article_id, parent_comment_id, content, del_yn, reg_dt, reg_id)
		VALUES (#{articleId}, #{parentCommentId}, #{content}, 'N', NOW(), #{regId})
	</insert>

	<select id="countReplies" resultType="int">
		SELECT COUNT(*)
		FROM post_comment
		WHERE parent_comment_id = #{parentCommentId}
			AND del_yn = 'N'
	</select>

	<update id="deletePostComment">
		UPDATE post_comment
		SET del_yn = 'Y'
		WHERE article_comment_id = #{articleCommentId}
	</update>

</mapper>
