<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.boot.domain.postcomment.mapper.PostCommentMapper">

	<select id="selectPostCommentList" resultType="com.test.boot.domain.postcomment.vo.PostCommentVO">
		SELECT
			article_comment_id, article_id, title, content, status_cd, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM post_comment
		WHERE del_yn = 'N'
		ORDER BY article_comment_id DESC
	</select>

	<select id="selectPostCommentListByArticleId" parameterType="long" resultType="com.test.boot.domain.postcomment.vo.PostCommentVO">
		SELECT
			article_comment_id, article_id, title, content, status_cd, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM post_comment
		WHERE article_id = #{articleId}
		AND del_yn = 'N'
		ORDER BY article_comment_id ASC
	</select>

</mapper>
