<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.boot.notice.NoticeMapper">

	<select id="selectNoticeList" resultType="com.test.boot.notice.NoticeVO">
		SELECT
			notice_id, upload_file_id, title, content, status_cd,
			view_cnt, like_cnt, important_yn, del_yn,
			reg_dt, reg_id, reg_ip, mod_dt, mod_id, mod_ip
		FROM notice
		WHERE del_yn = 'N'
		ORDER BY important_yn DESC, notice_id DESC
	</select>

</mapper>
